*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}


html{
    scroll-behavior:smooth;
}


body{

    background:
    radial-gradient(circle at top left,#4f46e5,transparent 30%),
    linear-gradient(135deg,#020617,#0f172a);

    color:white;

    min-height:100vh;

}



/* NAVBAR */


nav{

    height:80px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 8%;

    position:sticky;

    top:0;

    backdrop-filter:blur(20px);

    background:rgba(2,6,23,0.6);

    z-index:100;

}


.logo{

    font-size:26px;

    font-weight:800;

    background:linear-gradient(
        90deg,
        #38bdf8,
        #a855f7
    );

    -webkit-background-clip:text;

    color:transparent;

}


.nav-links a{

    color:white;

    text-decoration:none;

    margin-left:30px;

    opacity:.8;

}


.nav-links a:hover{

    color:#38bdf8;

}





/* HERO */


.hero{

    min-height:90vh;

    display:flex;

    align-items:center;

    justify-content:center;

    text-align:center;

}



.hero-content{

    max-width:850px;

}



.hero h1{

    font-size:70px;

    line-height:1.1;

    background:
    linear-gradient(
    90deg,#38bdf8,#d946ef
    );

    -webkit-background-clip:text;

    color:transparent;

}



.hero p{

    margin:25px 0;

    color:#cbd5e1;

    font-size:20px;

}




button{

    padding:15px 35px;

    border:none;

    border-radius:30px;

    cursor:pointer;

    color:white;

    background:

    linear-gradient(
    90deg,
    #2563eb,
    #9333ea
    );


    font-size:16px;

    transition:.3s;

}


button:hover{

    transform:translateY(-5px);

    box-shadow:0 0 30px #6366f1;

}





/* TRAINER */


section{

    padding:80px 10%;

}



h2{

    text-align:center;

    font-size:40px;

    margin-bottom:40px;

}




.form-box{


    max-width:600px;

    margin:auto;


    background:
    rgba(255,255,255,0.08);


    padding:40px;


    border-radius:25px;


    backdrop-filter:blur(20px);


    border:

    1px solid rgba(255,255,255,0.2);


}




input,
select,
textarea{


    width:100%;

    margin-bottom:20px;


    padding:15px;


    border-radius:12px;


    border:none;


    outline:none;


    background:#020617;


    color:white;


}



input::placeholder,
textarea::placeholder{

    color:#94a3b8;

}





/* CHAT */


.chat-box{


    max-width:750px;

    margin:auto;


    background:
    rgba(255,255,255,.08);


    padding:35px;


    border-radius:25px;


}




.ai-message{


    background:#2563eb;


    padding:20px;


    border-radius:20px;


    margin-bottom:20px;


}



textarea{

    height:140px;

}



.feedback{


    margin-top:25px;


    background:#022c22;


    padding:20px;


    border-radius:15px;


    display:none;


}







/* DASHBOARD */


.cards{


    display:grid;


    grid-template-columns:
    repeat(3,1fr);


    gap:25px;


}



.card{


    background:
    rgba(255,255,255,.1);


    text-align:center;


    padding:40px;


    border-radius:25px;


    transition:.3s;


}



.card:hover{


    transform:scale(1.05);


}



.card h3{


    font-size:40px;


    color:#38bdf8;


}




footer{


    text-align:center;


    padding:30px;


    background:#020617;


    color:#94a3b8;


}






/* RESPONSIVE */


@media(max-width:768px){


.hero h1{

font-size:45px;

}


.cards{

grid-template-columns:1fr;

}


nav{

padding:0 5%;

}


.nav-links{

display:none;

}


}


/* FEATURES */


.feature-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}


.feature-card{

background:
rgba(255,255,255,.08);

padding:35px;

border-radius:25px;

transition:.4s;

border:
1px solid rgba(255,255,255,.15);

}



.feature-card:hover{

transform:translateY(-10px);

box-shadow:
0 0 30px #4f46e5;

}



.feature-card h3{

margin-bottom:20px;

font-size:22px;

}



.feature-card p{

color:#cbd5e1;

}





/* WORKFLOW */


.flow{

display:flex;

justify-content:center;

align-items:center;

gap:20px;

flex-wrap:wrap;

}



.flow div{


background:
linear-gradient(
135deg,
#2563eb,
#9333ea
);


padding:25px;

border-radius:20px;

font-weight:bold;

}



.flow span{

font-size:35px;

color:#38bdf8;

}




/* TECH STACK */


.tags{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}


.tags span{


background:#1e293b;

padding:

15px 25px;

border-radius:30px;

border:

1px solid #38bdf8;


}




/* Animations */


.hero-content,
.form-box,
.chat-box,
.card,
.feature-card{


animation:

fadeUp 1s ease;


}



@keyframes fadeUp{


from{

opacity:0;

transform:
translateY(40px);

}


to{

opacity:1;

transform:
translateY(0);

}


}






@media(max-width:768px){


.feature-grid{

grid-template-columns:1fr;

}


}